/*Estilos para el contenedor general de mi página*/
$main-container-width: 80%;

//Estilos para los bordes
$border-width: 0.1rem;
$border-style: solid;

$border-radius-small: 0.2rem;
$border-radius: 1rem;
$boder-radius-big: 2rem;

//Valor del radio para redondear los botones
$border-radius-botones: 0.4rem;

//Estructura de anidamiento para la figura (cards)
$figure-width: 25%;