@use "funciones";

//Estilos generales para la tabla
table {
  border-collapse: collapse;
  width: 100%;
  th, td {
    border: 1px solid black;
    padding: 1rem;
  }
}

//Establezco el número máximo de columnas

@for $num from 1 through 4 {
  tbody tr td:nth-child(#{$num}) {
    background-color: funciones.colum-color($num);
  }
}