*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
}

body>*{
    background-color: black;
    color: white;
    margin-right: 100px;
    height: 90px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diva{
    border-bottom-right-radius: 150px;
}

.divb{
    border-bottom-right-radius: 150px 50px;
}

.divc{
    border-bottom-right-radius: 50px 150px;
}

.divd{
    border-radius: 50px 150px/50px 150px;
}

.dive{
    border-radius: 50px 25px/25px 50px;
}

.divf{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
}
