/*Estilos para el nav*/
@use "colores" as *;

nav {
    background-color: $navbar-background-color;
    padding: 0 0.2rem;
    ul {
        li {
            display: inline-block;
            padding: 1rem;
            &.active {
                color: $navbar-color-hover;
                font-weight: bolder;
            }
            a {
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                    color: $navbar-color-hover;
                }
            }
        }
    }
}
